<h1>Listing projects</h1>

<table>
  <tr>
    <th>Preview path</th>
    <th>Thumbnail path</th>
    <th>Client name</th>
    <th>Description</th>
    <th>Stack</th>
    <th>Teaser</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.preview_path %></td>
    <td><%= project.thumbnail_path %></td>
    <td><%= project.client_name %></td>
    <td><%= project.description %></td>
    <td><%= project.stack %></td>
    <td><%= project.teaser %></td>
    <td><%= link_to 'Show', project %></td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project', new_project_path %>
